<section class="bg-main-light shadow show p-5 my-3 rounded">
  <div id="forgetPassword" class="">
    <h2 class="text-main mb-3">Forget Password</h2>
    <form [formGroup]="forgetPasswordForm" (ngSubmit)="forgetPassword()">
      <div>
        <label for="email">Email Address:</label>
        <input
          class="form-control"
          type="email"
          name="email"
          id="email"
          formControlName="email"
        />
      </div>
      @if (errorMessage) {
      <p class="alert alert-danger">{{ errorMessage }}</p>
      }
      <button
        [disabled]="forgetPasswordForm.invalid || isLoading"
        class="btn-main mt-4 ms-auto d-block"
        type="submit"
      >
        Forget @if(isLoading) {
        <span><i class="fas fa-spin fa-spinner"></i></span>
        }
      </button>
    </form>
  </div>

  <div id="verifyResetCode" class="d-none">
    <h2 class="text-main mb-3">Verify Code:</h2>
    <form [formGroup]="resetCodeVerifyForm" (ngSubmit)="resetCode()">
      <div>
        <label class="h6" for="resetCode"
          >Enter the code sent to your email:</label
        >
        <input
          class="form-control"
          id="resetCode"
          name="resetCode"
          formControlName="resetCode"
          type="text"
        />
      </div>
      @if (errorMessage) {
      <p class="alert alert-danger">{{ errorMessage }}</p>
      }

      <button
        class="btn-main d-block ms-auto mt-3"
        type="submit"
        [disabled]="resetCodeVerifyForm.invalid || isLoading"
      >
        verify @if (isLoading) {
        <span><i class="fas fa-spin fa-spinner"></i></span> }
      </button>
    </form>
  </div>

  <div id="resetPassword" class="d-none">
    <h2 class="text-main mb-3">Reset Password</h2>
    <form [formGroup]="resetPasswordForm" (ngSubmit)="resetPassword()">
      <div class="mb-3">
        <label for="email">Email Address:</label>
        <input
          readonly
          class="form-control"
          type="email"
          name="email"
          id="email"
          formControlName="email"
        />
        @if(resetPasswordForm.get("email")?.errors &&
        (resetPasswordForm.get("email")?.touched ||
        resetPasswordForm.get("email")?.dirty)){
        <p class="alert alert-danger">Enter a valid Email.</p>
        }
      </div>
      <div>
        <label for="newPassword">newPassword:</label>
        <input
          class="form-control"
          type="password"
          name="newPassword"
          id="newPassword"
          formControlName="newPassword"
        />
        @if(resetPasswordForm.get("newPassword")?.errors &&
        (resetPasswordForm.get("newPassword")?.touched ||
        resetPasswordForm.get("newPassword")?.dirty)){
        <p class="alert alert-danger">Enter a valid password.</p>
        }
      </div>
      @if (success) {
      <p class="alert alert-success">Password has been reseted succefully.</p>
      } @if (errorMessage) {
      <p class="alert alert-danger">{{ errorMessage }}</p>
      }
      <button
        [disabled]="resetPasswordForm.invalid || isLoading"
        class="btn-main mt-4 ms-auto d-block"
        type="submit"
      >
        Forget @if(isLoading) {
        <span><i class="fas fa-spin fa-spinner"></i></span>
        }
      </button>
    </form>
  </div>
</section>
